@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome">
    <h1 class="display-4">
        Welcome @Model
    </h1>
    
    @if (!User?.Identity?.IsAuthenticated ?? true)
    {   
        <h5>
            <br />
            This is my personal project that I created for study purposes.
        </h5>
        <p>
            Discover colors extracted from your favorite
            images with my interactive Color Palette Generator.
            This web-based tool allows you to upload images and easily
            create stunning color palettes that you can store, share, and use.
        </p>
        <p>
            To log in to the default account, use the email "default@palette.com".
            The password consists of the first 4 letters
            of the alphabet (the first letter capitalized),
            the first 4 digits (starting from 1), and a period at the end.
        </p>
    }
</div>
<div>

</div>